.App {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-color: #000;
}

.title {
  text-align: center;
  color: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

.container .btn {
  display: block;
  border: 1px solid #fff;
  background-color: #e67e22;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
